@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
:root {
	--background: oklch(0.98 0 0);
	--foreground: oklch(0.3211 0 0);
	--card: oklch(0.99 0 0);
	--card-foreground: oklch(0.3211 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.3211 0 0);
	--primary: oklch(0.6653 0.2303 9.2854);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9896 0.0021 17.1946);
	--secondary-foreground: oklch(0.4447 0.0546 359.0414);
	--muted: oklch(1 0 0);
	--muted-foreground: oklch(0.5542 0.0453 1.1489);
	--accent: oklch(0.9629 0.0627 345.7485);
	--accent-foreground: oklch(0.4698 0.1894 23.6702);
	--destructive: oklch(0.8748 0.2637 143.8376);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.948 0.0066 5.6293);
	--input: oklch(0.948 0.0066 5.6293);
	--ring: oklch(0.6653 0.2303 9.2854);
	--chart-1: oklch(0.6653 0.2303 9.2854);
	--chart-2: oklch(0.6396 0.248 18.2775);
	--chart-3: oklch(0.6245 0.2529 24.598);
	--chart-4: oklch(0.5459 0.2215 25.3812);
	--chart-5: oklch(0.4698 0.1894 23.6702);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.3211 0 0);
	--sidebar-primary: oklch(0.6653 0.2303 9.2854);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9629 0.0227 345.7485);
	--sidebar-accent-foreground: oklch(0.4698 0.1894 23.6702);
	--sidebar-border: oklch(0.948 0.0066 5.6293);
	--sidebar-ring: oklch(0.6653 0.2303 9.2854);

	--header-foreground: oklch(0.5542 0.0453 1.1489);

	--font-sans: Inter, sans-serif;
	--font-serif: Source Serif 4, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.725rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2046 0 0);
	--foreground: oklch(0.9219 0 0);
	--card: oklch(0.2686 0 0);
	--card-foreground: oklch(0.9219 0 0);
	--popover: oklch(0.2686 0 0);
	--popover-foreground: oklch(0.9219 0 0);
	--primary: oklch(0.6653 0.2303 9.2854);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.2686 0 0);
	--secondary-foreground: oklch(0.9219 0 0);
	--muted: oklch(0.2393 0 0);
	--muted-foreground: oklch(0.7155 0 0);
	--accent: oklch(0.4698 0.1894 23.6702);
	--accent-foreground: oklch(0.8929 0.0634 354.6027);
	--destructive: oklch(0.8748 0.2637 143.8376);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3715 0 0);
	--input: oklch(0.3715 0 0);
	--ring: oklch(0.6653 0.2303 9.2854);

	--header-foreground: oklch(0.8455 0 0);

	--chart-1: oklch(0.7162 0.1934 0.6386);
	--chart-2: oklch(0.6653 0.2303 9.2854);
	--chart-3: oklch(0.6396 0.248 18.2775);
	--chart-4: oklch(0.6245 0.2529 24.598);
	--chart-5: oklch(0.5459 0.2215 25.3812);
	--sidebar: oklch(0.2046 0 0);
	--sidebar-foreground: oklch(0.9219 0 0);
	--sidebar-primary: oklch(0.6653 0.2303 9.2854);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.4698 0.1894 23.6702);
	--sidebar-accent-foreground: oklch(0.8929 0.0634 354.6027);
	--sidebar-border: oklch(0.3715 0 0);
	--sidebar-ring: oklch(0.6653 0.2303 9.2854);
	--font-sans: Inter, sans-serif;
	--font-serif: Source Serif 4, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.725rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0), 0 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-header-foreground: var(--header-foreground);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
@font-face {
	font-family: 'Qindret';
	src: url('/fonts/Qindret-OGxxP.otf') format('opentype');
}

@font-face {
	font-family: 'Satoshi-Light';
	src:
		url('$lib/fonts/Satoshi-Light.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-Light.woff') format('woff'),
		url('$lib/fonts/Satoshi-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Satoshi-LightItalic';
	src:
		url('$lib/fonts/Satoshi-LightItalic.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-LightItalic.woff') format('woff'),
		url('$lib/fonts/Satoshi-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'Satoshi-Regular';
	src:
		url('$lib/fonts/Satoshi-Regular.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-Regular.woff') format('woff'),
		url('$lib/fonts/Satoshi-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Satoshi-Italic';
	src:
		url('$lib/fonts/Satoshi-Italic.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-Italic.woff') format('woff'),
		url('$lib/fonts/Satoshi-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'Satoshi-Medium';
	src:
		url('$lib/fonts/Satoshi-Medium.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-Medium.woff') format('woff'),
		url('$lib/fonts/Satoshi-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Satoshi-MediumItalic';
	src:
		url('$lib/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-MediumItalic.woff') format('woff'),
		url('$lib/fonts/Satoshi-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'Satoshi-Bold';
	src:
		url('$lib/fonts/Satoshi-Bold.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-Bold.woff') format('woff'),
		url('$lib/fonts/Satoshi-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Satoshi-BoldItalic';
	src:
		url('$lib/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-BoldItalic.woff') format('woff'),
		url('$lib/fonts/Satoshi-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: 'Satoshi-Black';
	src:
		url('$lib/fonts/Satoshi-Black.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-Black.woff') format('woff'),
		url('$lib/fonts/Satoshi-Black.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Satoshi-BlackItalic';
	src:
		url('$lib/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-BlackItalic.woff') format('woff'),
		url('$lib/fonts/Satoshi-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
	font-family: 'Satoshi-Variable';
	src:
		url('$lib/fonts/Satoshi-Variable.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-Variable.woff') format('woff'),
		url('$lib/fonts/Satoshi-Variable.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
	font-family: 'Satoshi-VariableItalic';
	src:
		url('$lib/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
		url('$lib/fonts/Satoshi-VariableItalic.woff') format('woff'),
		url('$lib/fonts/Satoshi-VariableItalic.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: italic;
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background leading-relaxed tracking-wide text-foreground;
		font-family: Satoshi-Medium;
	}

	h1 {
		@apply font-[Space_Grotesk] font-bold tracking-wide;
	}
}
